* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(var(--colour-neutral-2, 245, 245, 245));
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.content_wrap {
    display: flex;
    height: 600px;
    margin-top: 70px;
}

.content1 {
    display: flex;
    justify-content: center;
    width: 30%;
    margin-left: 20px;
}

.content2 {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.box2 {
    width: 200px;
}

ul {
    list-style: none;
}

a {
    color: rgb(129, 97, 94);
    font-size: 14px;
}

button {
    margin: 20px 0;
    background-color: black;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 11px 20px;
    border: 1px solid black;
    border-radius: 30px;
}

button:hover {
    background-color: rgb(75, 68, 68);
    cursor: pointer;
}

.div2 {
    margin-top: 10px;
}

.p1 {
    margin: 15px 0;
    color: rgb(129, 97, 94);
    font-size: 14px;
}

.h {
    font-size: 14px;
    margin-bottom: 25px;
}

.list {
    margin: 12px 0;
}

.list a {
    text-decoration: none;
}

.list a:hover {
    text-decoration: underline;
}